@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.login {
    font-family: 'Montserrat', sans-serif;
    width:100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
            width:20rem;
            i {
                display: none;
            }
        }
    }
}