@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
    margin-left:1rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
    font-weight:600;
    margin-left:1rem;
}

.navHome {
    font-family: 'Montserrat', sans-serif;
}